@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
    background: #3b435e;
    padding: 40px 0;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    font-family: Montserrat;
    font-weight: 700;
    color: #323232;
}

.icon-title{
    font-size: 72px;
    text-align: center;
}

.txt-red {
    color: #ec3f38;
}

.txt-blue {
    color: #4f76a0;
}

.txt-yellow {
    color: #fc9f3c;
}

.card {
    background: transparent;
    border: 4px solid #5a6079;
}

.card.active{
    background: white;
    border: 4px solid transparent;
}

.card.active .text-title{
    color: #0f0f10;
}

.card .text-title{
    color: #FFFFFF;
}

.card .text-description {
    color: #FFFFFF;
}

.card.active .text-description {
    color: #0f0f10;
}

.card .divider{
    background: #5c6076 !important;
}

.card.active .divider{
    background: #f3f0f6 !important;
}

.card .sub-price{
    color: #cfcfd8 !important;
}

.card.active .sub-price{
    color: #7b7b7b !important;
}

.pointer{
    cursor: pointer;
}
